*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.header-wrapper {
    height: 100vh;
    position: relative;
}

.header-wrapper::after {
    content: "";
    background: linear-gradient(hsla(182, 63%, 54%), hsla(0, 0%, 0%, 1));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.header-bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}


header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 18rem;
    transition: background-color 0.3s ease
}

header.scrolled {
    background-color: white;
}

header ul {
    display: flex;
    list-style: none;
    column-gap: 3rem;
    align-items: center;
}

header ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    letter-spacing: 0.4rem;
    transition: color 0.3s ease;
}

header ul li a.scrolled {
    color: black;
}

header .logo-wrapper {
    width: 6rem;
}

header img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.info {
    text-align: center;
    width: 100%;
    max-width: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 6rem;
}

.info h1 {
    font-size: 6rem;
}

.info p {
    margin-top: 1rem;
    line-height: 150%;
}

.info a {
    display: inline-block;
    padding: 1rem 2rem;
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    letter-spacing: 0.4rem;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    margin-top: 2rem;
}

.info a:hover {
    background-color: white;
    color: hsla(182, 63%, 54%);
}


/* SECTION */
section {
    display: grid;
    justify-content: center;
    height: 70rem;
    scroll-margin-top: 7.8rem;
}

section span {
    display: inline-block;
    font-size: 4rem;
}

section span:nth-child(1) {
    color: black;
}

section span:nth-child(2) {
    color: hsla(182, 63%, 54%);
}

.about-us {
    background-color: hsl(0, 0%, 90%);
}

.our-services {
    background-color: hsl(0, 0%, 100%);
}

.featured-tours {
    background-color: hsl(0, 0%, 90%);
}

/* FOOTER */
footer {
    display: grid;
    place-items: center;
    height: 16rem;
    background-color: hsl(209, 61%, 16%);
    color: white;
    letter-spacing: 0.6rem;
}